[
  {
    "src": {
      "host": "src.imap-server.tld"
    },
    "dst": {
      "host": "dst.imap-server.tld",
      "port": 143
    },
    "mailboxes": [
      {
        "user": "john.doe@domain.tld",
        "password": "verysecretpassword",
        "srcUser": "",
        "srcPassword": "",
        "dstUser": "",
        "dstPassword": ""
      },
      {
        "user": "jane.doe@domain.tld",
        "password": "passwordsecretvery",
        "srcUser": "",
        "srcPassword": "",
        "dstUser": "",
        "dstPassword": "",
        "active": false
      }
    ]
  }
]